<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
    <link rel="stylesheet" th:href="@{/css/pages-login-manage.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
</head>
<body>
<div class="box-body">
    <div class="pull-left">
        <div class="btn-group">
            <button type="button" class="btn btn-default">新增</button>
        </div>
    </div>
    <div class="table-box">
        <table id="dataList" class="table table-bordered text-center">
            <thead>
            <tr>
                <th>编号</th>
                <th>学生ID</th>
                <th>学生姓名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="student:${students}">
                <tr>
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.studentid}"></td>
                    <td th:text="${student.name}"></td>
                    <td>
                        <button type="button" class="btn bg-olive btn-xs" th:onclick="updatebookById([[${student.id}]]);">修改</button>
                        <button type="button" class="btn bg-olive btn-xs" th:onclick="adabookById([[${student.id}]]);">删除</button>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>