<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书阅读</title>
    <link rel="stylesheet" th:href="@{/css/pages-login-manage.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="box-body">
    <div class="table-box">
        <table id="dataList" class="table table-bordered text-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>学生ID</th>
                <th>学生姓名</th>
                <th>学生班级</th>
                <th>成绩</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="student:${students}">
                <tr>
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.studentid}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.classname}"></td>
                    <td th:text="${student.score}"></td>
                    <td>
                        <button type="button" class="btn bg-olive btn-xs" th:onclick="deleteBookById([[${student.id}]]);">删除</button>
                    </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    function deleteBookById(id) {
        $.get("/book/deleteBookById/"+id)
    }
</script>
</html>