<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统</title>
    <headers>
        <frame-options policy="SAMEDRIGHT"/>
    </headers>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/css/all-skins.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript">
        function SetIframeHeight() {
            var iframeid = document.getElementById("iframe");
            if(document.getElementById){
                /*设置 内容展示区的高度等于页面可视区的高度*/
                iframeid.height = document.documentElement.clientHeight;
            }
        }
    </script>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">
    <!--页面头部 -->
    <header class="main-header">
        <a th:href="@{/}" class="logo">
            <span class="logo-lg"><b>学生信息管理</b></span>
        </a>
        <!-- 头部导航 -->
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a>
                            <span class="hidden-xs" sec:authentication="principal.username"></span>
                        </a>
                    </li>
                    <li class="dropdown user user-menu">
                        <a th:href="@{/logout}">
                            <span class="hidden-xs">注销</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li sec:authorize="hasAnyAuthority('ROLE_COMMON','ROLE_ADMIN')">
                    <a th:href="@{/book/list}" target="iframe">
                        <i class="fa fa-circle-o"></i>学生信息
                    </a>
                </li>
                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a th:href="@{/book/admin/manag}" target="iframe">
                        <i class="fa fa-circle-o"></i>信息管理
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <iframe width="100%" id="iframe" name="iframe"
                onload="SetIframeHeight()" frameborder="0"></iframe>
    </div>
</div>
</body>
</html>